* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    max-width: 1200px;
    margin: 0 auto;
    
}


.main-title h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
